@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FAFBFF] text-zinc-900 antialiased;
    letter-spacing: -0.02em;
  }
}

@layer utilities {
  .tracking-label {
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  
  .font-black {
    font-weight: 900;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

/* Styling panel Controls */
.react-flow__controls {
  @apply rounded-xl overflow-hidden border-2 border-zinc-100 dark:border-zinc-800 shadow-xl !important;
  background-color: transparent !important;
}

/* Styling setiap tombol di dalam Controls */
.react-flow__controls-button {
  @apply bg-white dark:bg-zinc-900 border-b border-zinc-100 dark:border-zinc-800 fill-zinc-600 dark:fill-zinc-400 hover:bg-zinc-50 dark:hover:bg-zinc-800 !important;
  color: currentColor !important;
}

/* Menghilangkan border bawah pada tombol terakhir agar tidak double */
.react-flow__controls-button:last-child {
  border-bottom: none !important;
}

/* Mengganti warna ikon di dalam tombol */
.react-flow__controls-button svg {
  @apply fill-zinc-600 dark:fill-zinc-300 !important;
}

